{% extends 'base.html.twig' %}

{% block body %}
    <table>
    {% for word in words %}
        <tr>
            <td>{{ word.complex }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}