<form method="get" action="{{ path(formPath) }}">
    <div class="input-group">
        <input id="searchBar" class="form-control" value="{{ searchTerm }}" placeholder="Enter your search term" name="q">
        <span class="input-group-btn">
            <input id="chineseFirst" name="chinese_first" title="Language" type="checkbox" data-toggle="toggle" data-on="中文" data-off="English" checked>
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </span>
    </div>
</form>