@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 250px;
        margin-top: 1px;
        border-right: 1px solid #e7e7e7;
    }

    #page-wrapper {
        position: absolute;
        right: 0;
        left: 0;
        margin: -19px 0 0 250px;
        padding: 20px 30px 0 30px;
    }
}

#page-wrapper {
    position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
}

#search-box {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.absoluteContainer {
    padding: inherit;
    position: absolute;
    left: 0;
    right: 15px; /* magical */
    top: 170px;
    bottom: 20px;
    overflow: hidden;
}

.absoluteContainer > div {
    height: 100%;
    overflow-y: auto;
}

.tab-content .tab-pane {
    border: 1px solid #ddd;
    border-top-width: 0;
    padding: 15px;
}