#page-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px;
    overflow-y: auto;
}

#search-box {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.absoluteContainer {
    padding: inherit;
    position: absolute;
    left: 0;
    right: 15px; /* magical */
    top: 50px;
    bottom: 0;
    overflow: hidden;
}

.absoluteContainer > div {
    height: 100%;
    overflow-y: auto;
}

.tab-content .tab-pane {
    border: 1px solid #ddd;
    border-top-width: 0;
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}

#leftPart {
    padding-right: 0;
    border-right: 1px solid #ddd;
}

#js-center-area {
    padding-right: 0;
    overflow: hidden;
}

span.meaning {
    margin-right: 5px;
}

div.dictionaryLine {
    cursor: pointer;
}

div.dictionaryLine, div.dictionaryHeader {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

div.dictionaryHeader {
    background-color: #ddd;
    font-weight: bold;
}

div.dictionaryLine:hover {
    background-color: #eee;
}

div.dictionaryLine.active {
    background-color: #337ab7;
    color: white;
}

div.absoluteTabs {
    position: relative;
}

div.absoluteTabs li.active > a  {
    border-bottom: 1px solid #337ab7 !important;
}