{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center page-header">中文 Dictionary</h1>
    {% include 'general/search_bar.html.twig' with {formPath:'dictionary_index', searchTerm:searchTerm} %}
    <br>
    <div id="results" class="row absoluteContainer"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        var searchBar = $('#searchBar');
        var chineseFirst = $('#chineseFirst');

        var currentRequest = null;
        var currentTimeout = null;

        function updateSearch(skipWait) {
            var url = '{{ path('dictionary_search') }}';
            url += '?q=' + encodeURIComponent(searchBar.val());
            url += '&chinese_first=' + encodeURIComponent(chineseFirst.val());

            if (currentRequest) {
                currentRequest.abort();
            }

            if (currentTimeout) {
                clearTimeout(currentTimeout);
            }
            currentTimeout = setTimeout(function() {
                currentRequest = $.ajax({
                    url: url,
                    success: function(data) {
                        $('#results').html(data);
                        $('#leftPart').children('.dictionaryLine:eq(0)').click();
                    }
                });
            }, !skipWait ? 500 : 0);
        }

        $(function() {
            if (searchBar.val()) {
                updateSearch(true);
            }
            searchBar.on('input', function() {
                updateSearch(false);
            });
        });

        $(document).on("click", ".ajaxTab", function() {
            var url = $(this).attr('data-url');
            var target  = $($(this).attr('href'));

            console.log($(this).attr('href'));
            if (target.hasClass("initialized")) return;

            target.addClass("initialized");
            $.ajax(url).done(function(data) {
                target.html(data);
            });

            return false;
        });

        function showDetails(el, id) {
            $('.dictionaryLine').removeClass('active');
            $(el).addClass('active');

            var url = '{{ path('dictionary_details', {id: 'foobar'}) }}';
            url = url.replace('foobar', id);
            $.ajax(url).done(function(data) {
                $('#js-center-area').html(data);
            })
        }
    </script>
{% endblock %}